#body {
  height: 100%;
  width: 100%;
}
.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
 }

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
} 

.signUpButton {
  width: 25%;
}